body {
    background-color: darkred;
}

#embed-sheet {    
    display: block;
    justify-content: center;
}

#embed-sheet > iframe {
    max-width: 1180px;
    width: 100%;
    height: 600px;
    display: block;
    margin: auto;
    border: 0;
}